body{
  background-color: #6B818C;
}
ul {
  list-style: none;
}
table {
  width: 100%;
}
.header {
  text-align: left;
  font-size: 1em !important;
  margin-left: 2em;
}
.page-header {
  border-color: #CFCDD0;
 }

.navbar {
  border-radius: 0;
  background-color: #222222 !important;
}
.jumbo {
  margin-top: -20px;
  /*background-image: url("../../assets/jumbo.jpg");*/
  background-size: cover;
  padding-bottom: 20%;
}
#scrollbars{
  margin-left: 2vw;
}
#panel {
  position: fixed;
  float: right;
  margin-left: -4em;
  height: 87.5vh;
  right: 25px;
}
#left {
  position: absolute;
  left: 25px;
}
.card {
  display: inline-table;
  min-width: 45vw;
  max-width: 45vw;
  width: 45vw;
  margin-bottom: 2.5em;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.card:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}
.card-header{
  text-align: left;
  margin-left: 5%;
}
.link{
  color: #909090;
  padding: .5em .5em .5em .5em;
}
.link:hover, .link:focus{
  color: #ffffff;
  text-decoration: none;
}
